%p
.alert.alert-dismissable
  %button{type: "button", class: "close", "data-dismiss" => "alert" } ×

  .page-header
    %h2= @project.name

  - if notice
    .alert.alert-info
      %p#notice= notice

  .row
    .col-lg-6
      %p
        %strong Name:
        = @project.name
      %p
        %strong Mision:
        = @project.mision
      %p
        %strong Vision:
        = @project.vision
      %p
        %strong Description:
        = @project.description
      = link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning'
      |
      \#{link_to 'Back', projects_path, class: 'btn btn-primary' }
      |
      = link_to "Add new history", new_project_history_path(@project), class: 'btn btn-danger'
      |
      = link_to "See the table", project_path(@project), class: 'btn btn-info'
    .col-lg-2
      %p
        = link_to "See: specification document", @project.specification_document.url
      %p
        = link_to "See: reference document", @project.specification_document.url
    .col-lg-4
      = image_tag @project.avatar.url(:thumb)

      %p
      %p
  .row
    .col-lg-8
    .col-lg-4
      %input{type: "search", class: "form-control", placeholder: "Search on histories", id: "query_search_history"}

.page-header
  %b
    Histories in current
.row
  .col-lg-8
    - @project.histories_current.each do |history|
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            Name:
            = history.name
            .badge.badge-current
              = history.puntuation
        .panel-body
          %p
            %b Finished definition:
            = history.finished_definition
          %p
            %b Comments:
            = history.comments
          %hr
          = link_to "undo state", project_history_move_to_path(@project, history) + "?phase=pending", class: "btn btn-xs btn-warning"
          = link_to "move to finished", project_history_move_to_path(@project, history) + "?phase=finished", class: "btn btn-xs btn-default"
          = link_to "see details", project_history_path(@project, history), class: "btn btn-xs btn-info"

