<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="<%= root_path %>" class="navbar-brand">ScrumBoard</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Proyectos<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
           <li><a href="<%= new_project_path %>">Crear un nuevo proyecto</a></li>
           <li class="divider"></li>
          <% @projects.each_with_index do |project, index| %>
            <% if index != 0 %>
              <li class="divider"></li>
            <% end %>
            <li><a href="<%= project_path(project) %>"><%= project.name %></a></li>
          <% end %>
        </ul>
        </li>
        <li>
        <a href="">Buscar</a>
        </li>
        <li>
        <%= link_to "Credits", "" %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://builtwithbootstrap.com/" target="_blank">pikitgb@gmail.com</a></li>
      </ul>

    </div>
  </div>
</div>
